name: Deploy HAProxy VM

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        required: true
        type: choice
        options:
          - dev
          - test
          - stage
          - prod

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id:      80b9c052-dde7-493d-85f3-c8bef5e556a8
          tenant-id:      40dbd045-1d9a-49fa-aae7-469259e0c673
          subscription-id: 1ad372fa-1532-4709-9b46-17de54fa0b71

      - name: Set environment parameters
        id: env
        run: |
          echo "PARAM_FILE=main.${{ github.event.inputs.environment }}.bicepparam" >> $GITHUB_OUTPUT

      - name: Deploy Bicep
        run: |
          az deployment group create \
            --resource-group "rg-haproxy-${{ github.event.inputs.environment }}" \
            --template-file main.bicep \
            --parameters @"${{ steps.env.outputs.PARAM_FILE }}"
