name:  Synapse

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        type: choice
        required: true
        options:
          - dev
          - test
          - test-ussc
          - stage
          - prod
          - prod-ussc
        default: dev

jobs:
  upload-config:
    uses: ./.github/workflows/upload-blob.yml
    with:
      environment: ${{ inputs.environment }}
      storage-account: sthaproxyshared
      container-name: loadbalancer
      file-path: ${{ format('haproxy/haproxy.cfg.{0}', inputs.environment) }}
      blob-name: ${{ format('haproxy.cfg.{0}', inputs.environment) }}
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}

  upload-script:
    uses: ./.github/workflows/upload-blob.yml
    with:
      environment: ${{ inputs.environment }}
      storage-account: sthaproxyshared
      container-name: loadbalancer
      file-path: haproxy/scripts/install_haproxy.sh
      blob-name: install-haproxy.sh
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
