name: Upload HAProxy Files (Synapse)

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment"
        type: choice
        required: true
        options:
          - dev
          - test
          - stage
          - prod

jobs:
  upload_job:
    environment: ${{ github.event.inputs.environment }}
    secrets: inherit

    uses: ./.github/workflows/upload-haproxy-configs.yml
    with:
      environment: ${{ github.event.inputs.environment }}

      storageAccount: sthaproxyshared
      container: synapse

      haproxyConfigPath: haproxy/haproxy.cfg.${{ github.event.inputs.environment }}
      haproxyConfigBlobName: haproxy.cfg.${{ github.event.inputs.environment }}

      installScriptPath: haproxy/scripts/install-haproxy.sh
      installScriptBlobName: install-haproxy.sh
