name: Upload HAProxy Files (Synapse)

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        type: choice
        required: true
        options: [dev, test]
        default: dev

jobs:
  upload:
    name: Upload HAProxy Files

    # Call the reusable workflow correctly
    uses: AbdulRehaman082493/HAProxyFolder/.github/workflows/upload-haproxy-configs.yml@main

    with:
      environment: ${{ inputs.environment }}
      storageAccount: sthaproxyshared
      container: synapse
      haproxyConfigPath: haproxy/haproxy.cfg.${{ inputs.environment }}
      haproxyConfigBlobName: haproxy.cfg.${{ inputs.environment }}
      installScriptPath: haproxy/scripts/install-haproxy.sh
      installScriptBlobName: install-haproxy.sh
