name: Upload HAProxy files for Synapse

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        type: choice
        required: true
        options:
          - dev
          - test
          - test-ussc
          - prod
          - prod-ussc
          - stage
        default: dev

jobs:
  upload-haproxy:
    uses: your-org/central-repo-name/.github/workflows/upload-haproxy-files.yml@main
    with:
      environment: ${{ inputs.environment }}

      # config file settings
      config-storage-account: itopsusncsa001
      config-container-name: synapse
      config-file-path: haproxy/haproxy.cfg.${{ inputs.environment }}
      config-blob-name: haproxy.cfg.${{ inputs.environment }}

      # script file settings
      script-storage-account: rehusr0845
      script-container-name: synapse
      script-file-path: haproxy/scripts/install-haproxy.sh
      script-blob-name: install-haproxy.sh

    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
